body {
    margin: 0;
  
    background-color: #ffffff;
    font-family: TT Hoves;
  
    --link-color: #333333;
    --title-color: #BDBDBD;
    --background-color: #2C2C2C;
  }
  
  .container {
    width: 1170px;
    left: 135px;
    top: 1054px;
    margin-left: auto;
    margin-right: auto;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .background-section {
    background: #FBFBFB;
  }

  /*Шапка сайта*/
  .main-nav {
    display: flex;
  }

  .site-nav {
    display: flex;
    list-style: none; 
    padding: 0px;
    margin-top: 45px;
  }

  .logo {
    margin-top: 30px;
    margin-right: 330px;
    margin-bottom: 30px;
  }

  .link {
    margin-right: 60px;
    font-size: 12px;
    letter-spacing: 0.2em;
    text-align: center;
    text-decoration: none;
  }

  .link:hover {
   border-top: 1px solid black;
    border-bottom: 1px solid black; 
  }

  /*Герой*/
  .hero-prog {
    margin-top: 335px;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: var(--title-color);
  }

  .hero-home {
    font-weight: bold;
    font-size: 64px;
    line-height: 64px;
    color: var(--link-color);
  }


/* О компании */
  .company {
    display: flex; 
  }

  .fotoBuild {
    display: flex;
    width: 670px;
  }

  .fotoBuildBlock {
    display: block;
  }

  .foto-company1 {
      margin-top: 30px;
      margin-right: 30px;
      margin-bottom: 30px;
      margin-left: 100px;
  }

  .foto-company2 {
    margin-left: 100px;
  }

  .title-company {
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: var(--title-color);
  } 
  
  .text-company {
    display: block; 
    width: 500px; 

    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 30px;
  }

  .text-p {
      
  }