body {
    margin: 0;
  
    background-color: #ffffff;
    font-family: TT Hoves;
  
    --link-color: #333333;
    --title-color: #BDBDBD;
    --background-color: #2C2C2C;
  }
  
  .container {
    width: 1170px;
    left: 135px;
    top: 1054px;
    margin-left: auto;
    margin-right: auto;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .background-section {
    background: #FBFBFB;
  }

  /*Шапка сайта*/
  .main-nav {
    display: flex;
  }

  .site-nav {
    display: flex;
    list-style: none; 
    padding: 0px;
    margin-top: 45px;
  }

  .logo {
    margin-top: 30px;
    margin-right: 330px;
    margin-bottom: 30px;
  }

  .link {
    margin-right: 60px;
    font-size: 12px;
    letter-spacing: 0.2em;
    text-align: center;
    text-decoration: none;
  }

  .link:hover {
   border-top: 1px solid black;
    border-bottom: 1px solid black; 
  }

  /*Герой*/

  .position {
    display: flex;
    height: 950px;
  }

  .hero-prog {
    margin-top: 335px;
    margin-bottom: 0px;
    margin-right: 122px;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: var(--title-color);
  }

  .hero-home { 
    margin: 0px;
    margin-bottom: 90px;
    font-weight: bold;
    font-size: 64px;
    line-height: 64px;
    color: var(--link-color);
  }

  .btn-left {
    width: 53px;
    height: 53px;
    border: none;
    cursor: pointer;

  }

  .btn-left:hover {
    background-color: var(--link-color);
    color: rgb(255, 254, 254);
  }

  .counter {
    display: flex; 
  }

  .counter-number {
    font-size: 24px;
    color: var(--title-color);
    margin-right: 30px;
  }

  .contain {
    position: relative;
  }
  
  .contain img {
    width: 100%;
    height: auto;
  }
  
  .contain .btn {
    position: absolute;
    width: 220px;
    height: 70px;
    top: 82.7%;
    left: 14.2%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 12px;
    letter-spacing: 0.2em;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
  }
  
  .contain .btn:hover {
    background-color: var(--link-color);
    color: rgb(255, 254, 254);
  }


/* О компании */
  .company {
    display: flex; 
  }

  .fotoBuild {
    display: flex;
    width: 670px;
  }

  .fotoBuildBlock {
    display: block;
  }

  .foto-company1 {
      margin-top: 30px;
      margin-right: 30px;
      margin-bottom: 30px;
      margin-left: 100px;
  }

  .foto-company2 {
    margin-left: 100px;
  }

  .title-company {
    margin-top: 0px;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: var(--title-color);
  } 
  
  .text-company {
    display: block; 
    width: 500px; 

    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 30px;
  }

  .text-p {
  margin-right: 70px;
  margin-bottom: 45px;
  }

  .hero-button {
    width: 220px;
    height: 70px;
    border: none;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 12px;
    letter-spacing: 0.2em;
    padding: 12px 24px;
  }

  .hero-button:hover {
    background-color: var(--link-color);
    color: rgb(255, 254, 254);
  }

  /* Основные задачи */

  .tasks {
    display: flex;
  }

  .tasks-text {
    margin-top: 100px;
    margin-bottom: 60px;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: var(--title-color);
  }

  .tasks-img1 {
    width: 104px;
    height: 140px;
    margin-right: 16px;
  }

  .tasks-img2 {
    width: 120px;
    height: 140px;
    margin-right: 30px;
    margin-left: 200px;
  }

  .tasks-t {
    margin: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color: #333333;
  }

  /* Наши проекты */

  .prog-text {
    margin-top: 100px;
    margin-bottom: 60px;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: var(--title-color);
  }

  .prog-img {
    display: flex;
  }

  .prog-button {
    margin-top: 30px;
    margin-left: 80%;
    width: 220px;
    height: 70px;
    border: none;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 12px;
    letter-spacing: 0.2em;
    padding: 12px 24px;
  }

  .prog-button:hover {
    background-color: var(--link-color);
    color: rgb(255, 254, 254);
  }

.project-fish {
  color: white;
  font-weight: bold;
  font-size: 64px;
  line-height: 64px;
  position: absolute;
  top: 48px;
  left: 40px;
  margin: 0px;
  width: 322px;
  height: 168px;
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.itom:hover .project-fish {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project-button { 
    padding: 0px;
    border: none;
    cursor: pointer;
    background-color: #58585800;
    color: rgb(255, 255, 255);
    font-size: 12px;
    letter-spacing: 0.2em;
    padding: 12px 24px;
}

.project-button:hover {
  color: rgb(209, 204, 204);
}

.project-position {
  position: relative;
  overflow: hidden;
}

.project-position::before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #58585898;
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.itom:hover .project-position::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/* Связаться с нами */

textarea {
  resize: none;
}

.form {
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

@media (max-width: 1199px) {
  .form {
    max-width: 450px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-top: 8px;
  }
}

@media (min-width: 1200px) {
  .form {
    width: 528px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 7px;
    padding-bottom: 40px;
  }
}

.form-fild {
  margin-bottom: 28px;
  position: relative;
}

.form-fild input {
  width: 100%;
  margin: 0;
  padding: 12px 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.form-fild:focus input {
  border: 1px solid #2196f3;
}

.form-fild textarea {
  margin: 0;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

@media (min-width: 1200px) {
  .form-fild textarea {
    width: 448px;
    height: 120px;
  }
}

.form-text {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 30px;
  color: #212121;
}

.checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  padding: 0;
  border: 0;
  margin: -1px;
  height: 1px;
  width: 1px;
}

.checkbox:checked + .icon-checkbox {
  background-color: #2196f3;
  border-color: #2196f3;
  background-image: url("../img/Vector.svg");
  background-size: contain;
  background-origin: border-box;
}

.form-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-checkbox input[type="checkbox"] {
  width: 16px;
  height: 15px;
}

.form-checkbox label {
  font-size: 14px;
  margin-left: 8.3px;
  margin-bottom: 30px;
}

.icon-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 4px;
}

@media (min-width: 1200px) {
  .checkbox-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  color: #2196f3;
  -webkit-transform: translateY(-45px) translateX(-30px);
          transform: translateY(-45px) translateX(-30px);
}

.form-label {
  position: absolute;
  top: 50%;
  left: 40px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.icon-form {
  position: absolute;
  top: 12px;
  left: 16px;
  display: inline-block;
  width: 18px;
  height: 18px;
}

.form-input:focus ~ .icon-form {
  --color3: #2196f3;
}

.form-button {
  width: 200px;
  height: 50px;
  padding: 10px 29px;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.link-form {
  color: #2196f3;
}

.form-but {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}