body {
    margin: 0;
  
    background-color: #ffffff;
    font-family: TT Hoves;
  
    --link-color: #333333;
    --title-color: #BDBDBD;
    --background-color: #2C2C2C;
  }
  
  .container {
   /* position: absolute; */
    width: 1170px;
    height: 465px;
    left: 135px;
    top: 1054px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
  
    @media screen and (min-width: 480px) {
      width: 480px;
    }
  
    @media screen and (min-width: 768px) {
      width: 768px;
    }
  
    @media screen and (min-width: 1200px) {
      width: 1200px;
    }
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .background-section {
    background: #FBFBFB;
  }

  .link {
    font-family: TT Hoves;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-align: left;
  }


/* О компании */
  .company {
    display: flex; 
  }

  .fotoBuild {
    display: flex;
    width: 670px;
  }

  .fotoBuildBlock {
    display: block;
  }

  .foto-company1 {
      margin-top: 30px;
      margin-right: 30px;
      margin-bottom: 30px;
      margin-left: 100px;
  }

  .foto-company2 {
    margin-left: 100px;
  }

  .title-company {
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: var(--title-color);
  } 
  
  .text-company {
    display: block; 
    width: 500px; 

    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 30px;
  }

  .text-p {
      
  }