body {
    margin: 0;
  
    background-color: #ffffff;
    font-family: TT Hoves;
  
    --link-color: #333333;
    --title-color: #BDBDBD;
    --background-color: #2C2C2C;
  }
  
  .container {
    width: 1170px;
    
    margin-left: auto;
    margin-right: auto;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .background-section {
    background: #FBFBFB;
  }

  /*Шапка сайта*/
  .main-nav {
    display: flex;
  }

  .site-nav {
    display: flex;
    list-style: none; 
    padding: 0px;
    margin-top: 45px;
  }

  .logo {
    margin-top: 30px;
    margin-right: 330px;
    margin-bottom: 30px;
  }

  .link {
    margin-right: 60px;
    font-size: 12px;
    letter-spacing: 0.2em;
    text-align: center;
    text-decoration: none;
  }

  .link:hover {
   border-top: 1px solid black;
    border-bottom: 1px solid black; 
  }

  /*Герой*/

  .position {
    display: flex;
    height: 950px;
  }

  .hero-prog {
    margin-top: 335px;
    margin-bottom: 0px;
    margin-right: 122px;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: var(--title-color);
  }

  .hero-home { 
    margin: 0px;
    margin-bottom: 90px;
    font-weight: bold;
    font-size: 64px;
    line-height: 64px;
    color: var(--link-color);
  }

  .btn-left {
    width: 53px;
    height: 53px;
    border: none;
    cursor: pointer;

  }

  .btn-left:hover {
    background-color: var(--link-color);
    color: rgb(255, 254, 254);
  }

  .counter {
    display: flex; 
  }

  .counter-number {
    font-size: 24px;
    color: var(--title-color);
    margin-right: 30px;
  }

  .contain {
    position: relative;
  }
  
  .contain img {
    width: 100%;
    height: auto;
  }
  
  .contain .btn {
    position: absolute;
    width: 220px;
    height: 70px;
    top: 82.7%;
    left: 14.2%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 12px;
    letter-spacing: 0.2em;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
  }
  
  .contain .btn:hover {
    background-color: var(--link-color);
    color: rgb(255, 254, 254);
  }


/* О компании */
  .company {
    display: flex; 
  }

  .fotoBuild {
    display: flex;
    width: 670px;
  }

  .fotoBuildBlock {
    display: block;
  }

  .foto-company1 {
      margin-top: 30px;
      margin-right: 30px;
      margin-bottom: 30px;
      margin-left: 100px;
  }

  .foto-company2 {
    margin-left: 100px;
  }

  .title-company {
    margin-top: 0px;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: var(--title-color);
  } 
  
  .text-company {
    display: block; 
    width: 500px; 

    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 30px;
  }

  .text-p {
  margin-right: 70px;
  margin-bottom: 45px;
  }

  .hero-button {
    width: 220px;
    height: 70px;
    border: none;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 12px;
    letter-spacing: 0.2em;
    padding: 12px 24px;
  }

  .hero-button:hover {
    background-color: var(--link-color);
    color: rgb(255, 254, 254);
  }

  /* Основные задачи */

  .tasks {
    display: flex;
  }

  .tasks-text {
    margin-top: 100px;
    margin-bottom: 60px;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: var(--title-color);
  }

  .tasks-img1 {
    width: 104px;
    height: 140px;
    margin-right: 16px;
  }

  .tasks-img2 {
    width: 120px;
    height: 140px;
    margin-right: 30px;
    margin-left: 200px;
  }

  .tasks-t {
    margin: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color: #333333;
  }

  /* Наши проекты */

  .itom {
    margin: 15px;
  }

  .prog-text {
    margin-top: 100px;
    margin-bottom: 60px;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: var(--title-color);
  }

  .prog-img {
    display: flex;
  }

  .prog-button {
    margin-top: 30px;
    margin-left: 80%;
    width: 220px;
    height: 70px;
    border: none;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 12px;
    letter-spacing: 0.2em;
    padding: 12px 24px;
  }

  .prog-button:hover {
    background-color: var(--link-color);
    color: rgb(255, 254, 254);
  }

.project-fish {
  color: white;
  font-weight: bold;
  font-size: 64px;
  line-height: 64px;
  position: absolute;
  top: 48px;
  left: 40px;
  margin: 0px;
  width: 322px;
  height: 168px;
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.itom:hover .project-fish {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project-button { 
    padding: 0px;
    border: none;
    cursor: pointer;
    background-color: #58585800;
    color: rgb(255, 255, 255);
    font-size: 12px;
    letter-spacing: 0.2em;
    padding: 12px 24px;
}

.project-button:hover {
  color: rgb(209, 204, 204);
}

.project-position {
  position: relative;
  overflow: hidden;
}

.project-position::before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #58585898;
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.itom:hover .project-position::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/* Связаться с нами */

  .form {
    width: 390px;
    padding-left: 0px;
    padding-right: 40px;
    padding-top: 7px;
    padding-bottom: 40px;
  }

.form-fild {
  margin-bottom: 25px;
  position: relative;
}

.form-fild input {
  width: 100%;
  margin: 0;
  padding: 12px 40px;
  background-color: #F3F3F3;
  border: 1px solid rgba(33, 33, 33, 0);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.form-fild:focus input {
  border: 1px solid #33333300;
}

.form-fild textarea {
  width: 100%;
  margin: 0;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0);
  background-color: #F3F3F3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.form-text {
  font-weight: bold;
  font-size: 10px;
line-height: 17px;
letter-spacing: 0.04em;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px;
  color: #212121;
}

.checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  padding: 0;
  border: 0;
  margin: -1px;
  height: 1px;
  width: 1px;
}

.checkbox:checked + .icon-checkbox {
  background-color: #d8dde000;
  border-color: #a1a1a100;
  background-image: url("/img/tick.png");
  background-size: contain;
  background-origin: border-box;
}

.form-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-checkbox input[type="checkbox"] {
  width: 16px;
  height: 15px;
}

.form-checkbox label {
  font-size: 14px;
  margin-left: 8.3px;
  margin-bottom: 30px;
}

.icon-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #d4d4d4;
  border-radius: 4px;
}

  .checkbox-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  color: #000000;
  -webkit-transform: translateY(-45px) translateX(-30px);
          transform: translateY(-45px) translateX(-30px);
}

.form-label {
  position: absolute;
  top: 50%;
  left: 40px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}


.form-button {font-size: 14px;
line-height: 17px;
letter-spacing: 0.04em;
  width: 200px;
  height: 50px;
  padding: 12px 24px;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.2em;
  border: none;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #ffffff;
  background: #4b4b4b;
  
}

.form-button:hover {
color: rgb(0, 0, 0);
background: #ffffff;
}


.link-form {
  color: #828283;
  margin-left: 5px;
}

.form-but {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pos {
  display: flex;
}

.form-img {
  width: 749px;
  height: 369px;
}

/*Футер*/

.footer {
background: #2C2C2C;
display: flex;
}

.logo-img {
margin-top: 60px;
margin-right: 120px;
margin-left: 116px;
}

.info {
  margin-top: 60px;
  margin-bottom: 25px;
  font-size: 16px;
line-height: 20px;
color: #FFFFFF;
}

.link-footer {
  font-weight: 500;
font-size: 14px;
line-height: 24px;
  margin-bottom: 25px;
  color: #FFFFFF;
  
  text-decoration: none;
}

.decor {
  list-style: none;
}

.address {
margin-left: 165px;
}

.footer-marrite {
  margin-left: 155px;
}

.footer-contact {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer-backgraund {
  background: #2f303a;
}

.social {
  display: flex;
  padding: 0px;
}

.footer-address {
  display: flex;
  flex-direction: column;
  font-style: normal;
}

  .footer-mar {
    margin-right: 69px;
    margin-left: 0px;
  }

.circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-size: contain;
  margin-right: 15px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.circle:hover {
  background: var(--link-color);
  --color3: #ffffff;
}

.site-nav-footer {
  margin-top: 0px;
  display: block;
}

.line {
  border-top: 2px solid rgb(58, 58, 58);
}

.line-bot {
  height: 75px;
  background: #2C2C2C;
}

.final {
  font-size: 12px;
line-height: 22px;
padding-top: 25px;
    padding-left: auto;
    padding-left: 40%;
display: flex;
align-items: center;
color: rgba(200, 200, 200, 0.5);
}